# ==========================
# Supabase
# ==========================
NEXT_PUBLIC_SUPABASE_URL=https://qvwzflovifgjdrfgyhzu.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=...

# ==========================
# Prisma
# ==========================

DATABASE_URL="postgresql://postgres.qvwzflovifgjdrfgyhzu:Tunglamhoaphuc2026@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"

DIRECT_URL="postgresql://postgres.qvwzflovifgjdrfgyhzu:Tunglamhoaphuc2026@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres"